<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CorePlanets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Planets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PlanetsAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>828C2ACE29EEF407007A728B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828C2AE929EEF42A007A728B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828C2B0929EF16D4007A728B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828C2B1529EF1980007A728B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828C2B1C29EF1980007A728B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
